.button-wrapper {
  height: 90px;
  font-size: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
  cursor: pointer;
}
.operator {
    background-color: #fe9241;
    color: #ffffff;
  }
